div.group {
  box-shadow: 0 1px 2px 0 #ffffff;
  background: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: 6px;
  padding: 7px;
  margin: 28px;
  position: relative;
  border: none;
  box-shadow: 0 0 0 1px var(--input-border-color), 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%) !important;
  font-family: nunito, helvetica, Arial, sans-serif;box-sizing: border-box;display: block;
  unicode-bidi: isolate;    padding-top: 75px;
  text-align: left;margin-top: 4.9em !important;
  color: var(--global-text-color);    background-color: var(--global-background-color);
  margin: 5%;
  padding: 5px;width: 90%;
  border-radius: 15px;

  -webkit-font-smoothing: antialiased;--brand-color: #0f1115;
  --box-shadow-central: 0 0 0 1px var(--input-border-color), 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
  --global-padding: 14px;
  --global-toned-background-color: #f9f9f9;
  --global-text-color: #0f1115;
  --global-secondary-text-color: #888;
  --global-background-rgb: 255, 255, 255;
  --input-background-color: #fff;
  --input-background-color-rgba: 255, 255, 255;
  --input-border-color: #dddddd;
  --input-hover-color: #f5f5f5;
  --input-active-color: #ededed;
  --input-text-color: #0f1115;
  --map-background-color: #aadafe;
  --highlight-background-color: #fff38f;
  --box-shadow-central: 0 0 0 1px var(--input-border-color);
  --global-background-color: #ffffff;
  --error-background-color: #ffc4c3;
}

.group-heading {
  background: var(--input-background-color);
  margin-top: -16px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--global-text-color);
  font-weight: 800;
  display: table;
  padding-left: 7px;
  padding-right: 7px;
  position: absolute;
  left: 50%;z-index: 7;
  transform: translateX(-50%);
  border-top: 1px solid var(--input-border-color);
  border-left: 1px solid var(--input-border-color);
  border-right: 1px solid var(--input-border-color);
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  height:10px;
  
}

div.group span.head {
  font-weight: 800;
  color: var(--global-text-color);
  display: block;
  margin: 16px;
  margin-bottom: 0;
  margin-top: 18px;
  font-size: 16px;
  text-transform: uppercase;
  font-size: 14px;
  padding-top: 75px;
  text-align: left;
  font-family: nunito, helvetica, Arial, sans-serif;
  --global-toned-background-color: #f9f9f9;
    --global-text-color: #0f1115;
    --global-secondary-text-color: #888;
    --global-background-rgb: 255, 255, 255;
    --input-background-color: #fff;
    --input-background-color-rgba: 255, 255, 255;
    --input-border-color: #dddddd;
    --input-hover-color: #f5f5f5;
    --input-active-color: #ededed;
    --input-text-color: #0f1115;
    --map-background-color: #aadafe;
    --highlight-background-color: #fff38f;
    --box-shadow-central: 0 0 0 1px var(--input-border-color);
    --global-background-color: #ffffff;
    --global-background-color-rgba: 251, 250, 248;
    --error-background-color: #ffc4c3;
     
    background-color: var(--global-background-color);
    margin-left: 14px;
    padding: 5px;
}

.info {
  vertical-align: middle;
  font-size: 12px;
  margin-left: 14px;
  color: #888;
  display: block;
  font-family: nunito, helvetica, Arial, sans-serif;
  margin-top:10px;
}

.input_company{background-color: #f2f1ed;width: 95%;margin-top:10px;margin-left: 14px;border-radius: 7px;border-width: 1px;border-color: #b1b3b6;padding: 3px 10px;}

select option {
  background: rgb(255, 255, 255);
}