.upload-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 2px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.upload-icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

span {
  font-size: 14px;
}
